{% extends "layout.html" %}
{% block content %}

  <h1 style = "text-align:center;">Open daily 11AM-9:30PM <br/> 
  Food Menu is availabile until 8PM<br/>
Order Food for Pickup at:  
<a style="font-size:30px;text-align:center;text-decoration: underline;" href="tel:+15086368888">+15086368888</a></h1>
<iframe style = "display: block;margin-left: auto;margin-right: auto " src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8442.277753918408!2d-71.07984741064529!3d41.57366117058071!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcb0de56c3235139d!2sHandy+Hill+Creamery!5e0!3m2!1sen!2sus!4v1534386810666" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  <h2 style = "text-align:center;">Follow us on Facebook or Instagram!</h2>

{% endblock %}