{% extends "layout.html" %}
{% load staticfiles %}

{% block content %}
<a href= "{% url 'findus' %}" style = "padding-top:15px;">
                    <img src="{% static 'images/Front.jpg' %}" alt="foodmenu"   style = "max-height:100%;max-width:100%;display: block;margin-left: auto;margin-right: auto;"/>
					</a>


<div class="container" id="col-container">
    <div class="row">
		<div class="col" id="col">
            <div class="card dpg-album-card">
                <div class="card-image">
				<a href= "{% url 'foodmenu' %}">
                    <img src="https://i.imgur.com/qiL3eSA.jpg" alt="foodmenu" class="dpg-album-card-image" height = "300" width = "300"  />
					</a>
                </div>
                <div class="card-content">
                    <span class="card-title">Food Menu	</span>
                    <p>A list of our food Items</p>
                </div>
                <div class="card-action">
                    <a style="color:black;"href="{% url 'foodmenu'%}">
                        Our Menu
                    </a>
                </div>
            </div>
		</div>
        {% for album in albums %}

        <div class="col" id = "col">
            <div class="card dpg-album-card">
                <div class="card-image">
				<a href= "{% url 'album' album.slug %}">
                    <img src="{{ album.thumb.url }}" alt="{{ album.title }}" class="dpg-album-card-image" />
					</a>
                </div>
                <div class="card-content">
                    <span class="card-title">{{ album.title }}</span>
                    <p>{{ album.description|truncatechars:120 }}</p>
                </div>
                <div class="card-action">
                    <a style="color:black;"href="{% url 'album' album.slug %}">
                        More Images
                    </a>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>
</div>

<div class="pagination center">
    <span class="step-links">
        {% if albums.has_previous %}
        <a href="?page={{ albums.previous_page_number }}" class="waves-effect waves-light btn btn-large">Previous</a>
        {% endif %}

        {% if albums.has_next %}
        <a href="?page={{ albums.next_page_number }}" class="waves-effect waves-light btn btn-large">Next</a>
        {% endif %}
    </span>
</div>

{% endblock %}