<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% load staticfiles %} {% include 'material/includes/material_css.html' %}
    <link rel="stylesheet" href="{% static 'site.css' %}" type="text/css" /> {% block css %}{% endblock %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<style>
html *{color:#0441CC}
a:link {
    color: #0441CC;
}

/* visited link */
a:visited {
    color: #0441CC;
}
</style>



    <nav id = "nav" role="navigation" style = "display: flex;background-color:white; min-height:80px;width: 100%;margin:0px;">
            <ul class="right hide-on-med-and-down">
                <li>
            <a href="{% url 'home' %}" ><img height = "40%" width = "50%" src="https://i.imgur.com/819kAUh.jpg?1" alt="Handy Hill Creamery"style = "display: block;margin-left: auto;margin-right: auto;width: 50%;" ></a>
                </li>
            </ul>

			 <ul class="right hide-on-med-and-down">
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="{% url 'foodmenu' %}">Food Menu</a>
                </li>
            </ul>
			{% for album in albums %}
			<ul class="right hide-on-med-and-down">
                <li>
                    <a href="{% url 'album' album.slug %}">{{ album.title }}</a>
                </li>
            </ul>
			 {% endfor %}
			 <ul class="right hide-on-med-and-down">
                <li>
                    <a href="{% url 'findus' %}">Find Us</a>
                </li>
            </ul>


    </ul>
<div class="topnav" id="myTopnav" style=""><div id="mobcontainer" style="width:100%">
<a href="{% url 'home' %}" >Home</a>
    <a href="{% url 'findus' %}">Find Us</a>
  <a href="{% url 'foodmenu' %}">Food Menu</a>
  <!-- bugged until mobile nav is fit to width on small screens
  {% for album in albums %}
  <a href="{% url 'album' album.slug %}">{{ album.title }}</a>
{% endfor %}
-->
  <a href="javascript:void(0);" class="icon" onclick="myFunction()"
  </a></div>
    <i class="fa fa-bars"></i>
  </a>
</div>


    </nav>

    {% block content %}{% endblock %}

    <footer class="page-footer" style= "background-color:white;"	>
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <a href="https://www.facebook.com/Handy-Hill-Creamery-145171075503096/" target="_blank" style = "padding-right: 40px">
                        <img src="https://en.facebookbrand.com/wp-content/uploads/2016/05/flogo_rgb_hex-brc-site-250.png" class="dpg-icon" alt="Facebook" />
                    </a>
                    <a href="https://www.instagram.com/handyhillcreamery/" target="_blank">
                        <img src="https://instagram-brand.com/wp-content/themes/ig-branding/assets/images/ig-logo-email.png" class="dpg-icon" alt="Instagram" />
                    </a>

                </div>
            </div>
        </div>
        <div class="footer-copyright" style = "color:#0441CC">
            <div class="container">
                © 2018 Copyright Handy Hill Creamery
                <a class="grey-text text-lighten-4 right" href="#!" style = "color:#0441CC">Sample created by @VelinGeorgiev</a>
            </div>
        </div>
    </footer>

    <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script> -->
    {% include 'material/includes/material_js.html' %}
    <script src="{% static 'app.js' %}"></script> {% block js %}{% endblock %}
</body>

</html>